<launch>
    <include file="$(find champ_config)/launch/bringup.launch">
        <arg name="description_file" value="$(find champ_description)/urdf/champ_arm.urdf"/>
        <arg name="has_imu"          value="false"/>
        <arg name="rviz"             value="true"/>
    </include>

    <node name="arm_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        <param name="use_tf_static"     value="true"/>
        <param name="publish_frequency" value="200"/>
        <remap from="/joint_states"     to="/champ/arm/joint_states" />
    </node>

    <node name="chicken_head" pkg="chicken_head" type="chicken_head_node"/>
    
    <include file="$(find champ_teleop)/launch/teleop.launch">
        <arg name="joy"             value="true"/>
    </include>
</launch>